@use "../../../styles/variables.scss" as *;

main {
  height: 100dvh;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: start;

  header{
    display: flex;
    flex-direction: column;
    
    .content-wrapper{
      display: flex;
      flex-direction: row;
      width: 100dvw;
      justify-content: space-between;
      padding: 20px  ;
      align-items: center;

      .user-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        gap: 20px;

        button {
          height: 60px;
          width: 60px;
          border-radius: 100%;

          img {
            height: 100%;
            border-radius: 100%;
            border: none;
          }
        }
        h2 {
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
    .icon-wrapper {
      align-items: center;
      display: flex;
      gap: 20px;

      button {
        background: none;
        border: none;

        img {
          height: 30px;
          width: 30px;
          outline-color: white;
        }
      }
    }
  }

  .section {

    background-color: $gray-background;
  }
}